
<h2>Index for recipe</h2>
	<p>search by tags</p>

	<h4>my recipes</h4>
	<h4>top recipes</h4>
	<h4>my groups</h4> 

	<!-- <button>add recipe</button> -->
	<%= link_to("add recipe", new_recipe_path) %>
	<button>make a group</button>
	<button>join a group</button>
	
