

	<p>search by tags</p>

	<div class="index-cards">
	<h4>my recipes</h4>
	</div>

	<div class="index-cards">
	<h4>top recipes</h4>
	</div>

	<div class="index-cards">
	<h4>my groups</h4> 
	</div>

	<!-- <button>add recipe</button> -->
	<%= link_to("add recipe", new_recipe_path) %>
	<button>make a group</button>
	<button>join a group</button>
	
