
<h1>GROUPS INDEX PAGE</h1>

create a new group
<%=form_for @group, :url => groups_path do |f|%>
<%=f.text_field :name, placeholder: "new name" %>
<%=f.submit%>
<%end%>

<% @groups.each do |g|%>
	<div class="group-index-card">
		<%= link_to g.name, group_path(g)%>
	</div>
<%end%>