<h2><%=@tag.name %></h2>

<div class="tag">
<% @recipes.each do |recipe| %>

	<%= link_to recipe.title, recipe_path(recipe) %>
	<%= image_tag last_image(recipe.images), class: "first-recipe-image"%>
	<h5>by: <%=link_to recipe.user.username, user_path %></h5>
	<hr>
<% end %>