@import "neat-helpers";

$column: 90px;

$gutter: 50px;

$grid-columns: 10;

$max-width: em(1088);

$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);


$mobile: new-breakpoint(max-width 480px 4);
module Sass
  module Tree
    class ImportNode < RootNode
      def _dump(f)
        Marshal.dump([@imported_filename, children])
      end

      def self._load(data)
        filename, children = Marshal.load(data)
        node = ImportNode.new(filename)
        node.children = children
        node
      end
    end
  end
end