#new-group {
	height: 100px;
	width:300px;
	text-align:center;
	input {
		border:none;
		background-color:white;
		border: 1px solid #A0B590;
		border-radius:5px;
		text-align:center;
		padding:8px;
		margin:2px;
	}
}