#new-group {
	height: 100px;
	@include span-columns(4);
	@include media($mobile) {
		@include span-columns(4);
	}
	text-align:center;
	input {
		border:none;
		background-color:white;
		border: 1px solid #A0B590;
		border-radius:5px;
		text-align:center;
		padding:8px;
		margin:2px;
	}
}