.logo {
	height:70px;
	display:inline-block;
	margin-top:-20px;
}

.img-delete-btn, .tag-delete-btn {
	text-decoration:none;
	color: #A61900;
	border: 1px solid #CC5522;
	border-radius: 6px;
	padding: 0px 3px 3px 3px;
	vertical-align:bottom;

}	
.img-delete-btn:hover, .tag-delete-btn:hover{
		color:white;
		background-color: #CC5522;
}
.tag-delete-btn {
	text-decoration:none;
	color: white;
	background-color: #CC5522;
	border: 1px solid #CC5522;
	border-radius: 6px;
	padding: 0px 3px 3px 3px;
	vertical-align:bottom;
}	
.tag-delete-btn:hover{
		color:#CC5522;
		background-color:white;
}