.logo {
	height:70px;
	display:inline-block;
	margin-top:-10px;
}
.first-user-image {
	width:60px;
	margin:5px;
	margin-bottom:0px;
	border-radius:60px;
	display:inline-block;
}

.img-delete-btn, .tag-delete-btn {
	text-decoration:none;
	color: #A0B590;
	border: 1px solid #A0B590;
	border-radius: 6px;
	padding: 0px 3px 3px 3px;
	vertical-align:bottom;
 
}	
.img-delete-btn:hover, .tag-delete-btn:hover{
		color:#CC5522;
		background-color: #CC5522;
}
.tag-delete-btn {
	text-decoration:none;
	color: white;
	background-color: #A0B590;
	border: 1px solid #A0B590;
	border-radius: 6px;
	padding: 0px 3px 3px 3px;
	vertical-align:bottom;
}	
.tag-delete-btn:hover{
		color:#A0B590;
		background-color:#CC5522;
}