.user-recipes {
	background-color:#3F5765;
	padding:2px;
	border-radius:5px;
	width: 150px;
	margin:2px;
	text-align: center;

	h3 {
		color:white;
	}
	a:hover {
	color: white;
	} 
} 

.user-groups {
	background-color: #FAA687;
	padding:2px;
	border-radius:5px;
	width: 150px;
	margin:2px;
	text-align: center;
	h3 {
		color:white;
	}
	a:hover {
	color: white;
	} 
}