@import "bourbon";

html {
	font-family: 'Oxygen', sans-serif;
	background-color:#F0EBD9;
}
body{
	padding: 0px;
	margin: 0px;
}

ul, li {
	margin: 0px;
	padding-top:0px;
}

nav {
	margin:0px;
	color: #F0EBD9;
	background-color: #FAA687;
	padding: 0px;
	width: 100%;
	height: 60px;
	opacity: .9;
}
a:visited {
	color: #F0EBD9;
}
nav li, a {
	display: inline-block;
	text-decoration: none;
	color: #F0EBD9;
}

a:hover {
	color: #3F5765;
}
button:hover {
	background-color: #3F5765;
}
button, button a:visited {
	font-size: 1em;
	color: #F0EBD9;
	background-color: #78A199;
	border: none;
	border-radius: 5px;
}
nav button{
	margin-left:15px;
	padding-right:5px;
}

#new-recipe, .display-recipe {
	margin-top:10px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	background-color: #78A199;
	border-radius:5px;
	opacity:.7;
	color: #F0EBD9;
}
#new-recipe textarea{
	width: 80%;
	height: 65px;
	border: none;
}
#new-recipe input {
	border: none;
	background-color:white;
	font-size: 1em;	
	margin-bottom: 5px;
}
#new-recipe .recipe-title {
	font-size: 2em;
}

.group-index-card {
	background-color: #78A199;
	width: 180px;
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
}
.options {
	float: right;
	display: inline;
	margin-top:20px;
	margin-right:5px;
}
.index-cards, {
	width:300px;
	background-color: #3F5765;
	display: inline-block;
	vertical-align: text-top;
	color: #FAA687;
	padding:5px;
	margin:5px;
	border-radius:10px;
	opacity: .8;
}
.index-cards li, .index-cards a {
	color: #F0EBD9;
	text-decoration: none;
	list-style:none;
	padding-bottom:5px;
}
.index-cards a:hover {
	color: #FAA687;
}
.login-div, .sign-up-div {
	background-color: #78A199;
	width:170px;
	padding:5px;
	margin:5px;
	float:center;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}
.plate {
	height:20px;
	width:20px;
	border-radius:5px;
	background-color: #78A199;
	display:inline-block;
	opacity:.6;
}
#first{
	margin-left:-30px;
	background-color: #3F5765;
}